<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ProcessosConnectionString" connectionString="Data Source=129.13.144.8;Initial Catalog=Processos;Persist Security Info=True;User ID=sa;Password=bali20"
      providerName="System.Data.SqlClient" />
    <add name="APPConnectionString" connectionString="Data Source=129.13.144.8;Initial Catalog=APP;Persist Security Info=True;User ID=sa;Password=bali20"
      providerName="System.Data.SqlClient" />
    <add name="fiatnet_jeepConnectionString" connectionString="Data Source=129.13.144.8;Initial Catalog=fiatnet_jeep;User ID=sa;Password=bali20"
      providerName="System.Data.SqlClient" />
    <add name="fiatnet_prodConnectionString" connectionString="Data Source=129.13.144.8;Initial Catalog=fiatnet_prod;User ID=sa;Password=bali20"
      providerName="System.Data.SqlClient" />
    <add name="APPWFConnectionString" connectionString="Data Source=129.13.144.8\wf;Initial Catalog=APPWF;User ID=caio;Password=D6d3h7g711"
      providerName="System.Data.SqlClient" />
    <add name="APPConnectionString2" connectionString="Data Source=LINEA\WF;Initial Catalog=APP;User ID=caio;Password=D6d3h7g711"
      providerName="System.Data.SqlClient" />
    <add name="WF" connectionString="Data Source=129.13.144.8\wf;User ID=caio;Password=D6d3h7g711"
      providerName="System.Data.SqlClient" />
    <add name="APPWFConnectionString2" connectionString="Data Source=129.13.144.8\wf;Initial Catalog=APPWF;User ID=caio;Password=D6d3h7g711;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="APPWFConnectionString3" connectionString="Data Source=129.13.144.8\wf;Initial Catalog=APPWF;User ID=caio;Password=D6d3h7g711;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="GrupoBali_DealernetWFConnectionString" connectionString="Data Source=129.13.144.8\wf;Initial Catalog=GrupoBali_DealernetWF;User ID=caio;Password=D6d3h7g711;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <machineKey validationKey="e512922f1fc1d69ef37c1a4fae3a6aefdd2a5e287b142a2b0c2a541252335b6c05df9e85e6cc3363e67852661fc6220f82e1972455a5c465a0f93d98e7ff07cd" decryptionKey="bd5bfc0fecdbbd07c6a09523dbf19e3f0cffd07d1fe2115de1d9a07926b736ec" validation="HMACSHA256" decryption="AES"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <sessionState cookieless="AutoDetect" timeout="15"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>
